<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
    <script src="/script/attributescrape.js" type="module"></script>
</head>

<body>
    <header>
        <%- include('../partials/header') %>
    </header>

    <div class="grid">
        <div class="buildingmanager">
            <h4>Click this button to automatically pick all Area and Material from IFC</h4>
            <button id="pickAll" type="button">Pick All</button>
        </div>

        <div>
            <iframe id="iframe" src="/embedDemo/xeokit-bim-viewer-master/app/index.html?projectId=Schependomlaan" style="height:500%;width:100%;"></iframe>
        </div>
    </div>
</body>

</html>