<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
        <style>
            .warningstate {
                text-align: center;
                font-size: 20px;
                position: relative;
                top: 50%;
            }
        </style>
</head>

<body>
    <header>
        <%- include('../partials/header') %>
    </header>

    <p class="warningstate">The database is in use, please try again later! If you want to edit, you can change the value of checkversion collection status to 0 in MongoDB.This function in demo is bad, you need to improve this function for your exercise</p>


</body>


</html>